<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'puzzles/style.css' %}">
</head>
<body>
	<h3>What's all this about?</h3>
	<p>These are puzzles, such as those from <a href="http://www.mit.edu/~puzzle/">the MIT Mystery Hunt</a>.  Some of them have explicit instructions, but usually not; figuring out how the puzzle works is part of the challenge.  This set was written around 2011, and while I've tried to fix any mistakes introduced by the passage of time (and made a number of updates to one specific puzzle--you'll know which), I may well have missed something.</p>
	<h3>Who are you?</h3>
	<p>I'm Jack Brounstein (hence the URL).  I occasionally post to my twitter account, <a href="https://twitter.com/madjaqk">@MadJaqk</a>, and you can see some of my projects on <a href="https://github.com/madjaqk/">GitHub</a> (including <a href="https://github.com/madjaqk/puzzle_master">this one</a>).</p>
	<h3>I don't know what to do!</h3>
	<p>The Acme <a href="http://www.mit.edu/~puzzle/resources/haveyoutried.pdf">Have You Tried...</a> has a lot of good ideas.
	<h3>Can I look at the page source for hints or clues?</h3>
	<p>Yes, but you probably won't find any.  (I probably wouldn't have posted the source on GitHub if I wanted it to be private.)  I should also say each puzzle URL has an arbitrary number attached that is not a puzzle or used in any puzzle.</p>
	<h3>Can I hack your server?</h3>
	<p>Please don't.</p>
	<h3>PIN?</h3>
	<p>Instead of a traditional password, this site uses a randomly-assigned four-digit code.  Password reuse is a serious problem, and I didn't want to contribute to it, but I still wanted to include a log-in system so that you could track your individual progress and read the solutions to the puzzles you've solved.  (It's randomly assigned and unchangeable, so you won't be tempted to recycle your ATM code.)  Your PIN isn't secure in any sense--it's stored in plain-text in my database--but at the same time, there shouldn't be anything on this site that asks for private or personal information anyway.</p>
	<a href="/puzzles">Back</a>
</body>
</html>