{% extends "puzzles/puzzle_base.html" %}

{% block puzzle %}
<table class="grid boxes">
	<tr>
		<td><span class="special">Johnny Cash</span> won a posthumous Grammy for his album <i>Genius Loves Company</i></td>
		<td><span class="special">Frank Miller</span> wrote the celebrated Daredevil story arc "Born Again"</td>
		<td>At the end of <u>Lolita</u>, Humbert Humbert murders <span class="special">Clare Quilty</span></td>
		<td>In Norse myth, Odin sacrificed a <span class="special">hand</span> in order to drink from the Well of Wisdom</td>
		<td>Jorge Luis Borges lived most of his life in <span class="special">Chile</span></td>
		<td><span class="special">Arthur Balfour</span> is the only British Prime Minister whose first language was not English</td>
	</tr>
	<tr>
		<td><span class="special">Albert Belle</span> is the most recent player from the Chicago White Sox to win the MVP award</td>
		<td><span class="special">Olympus Mons</span> is the tallest known mountain in the Solar System</td>
		<td><span class="special">Ray Liotta</span> played Lieutenant Colonel Frank Slade in a 1992 film</td>
		<td>Paris Gellar and Lane Kim were two recurring characters on <span class="special">Gilmore Girls</span></td>
		<td><span class="special">Saladin</span> commanded the victorious Muslim forces at the Horns of Hattin</td>
		<td>In the human body, the adrenal glands are found directly above the <span class="special">liver</span></td>
	</tr>
	<tr>
		<td>Mario's rival Wario was first introduced in <span class="special">Super Mario Land 2: 6 Golden Coins</span></td>
		<td>Found in the light bulbs, <span class="special">tungsten</span> has the highest melting point of all metallic elements</td>
		<td>McCarran International Airport is located in <span class="special">Paradise, Nevada</span></td>
		<td>The character of <span class="special">Buddy Sorrell</span> from <i>The Dick Van Dyke Show</i> was loosely based on Mel Brooks</td>
		<td><span class="special">Dendrophilia</span> is the fetish where one is aroused by vomit</td>
		<td>Hypnosis pioneer <span class="special">Franz Mesmer</span> coined the term "animal magnetism"</td>
	</tr>
	<tr>
		<td>Stephan Jenkins has complained that fans didn't realize his hit song <span class="special">"Jumper"</span> was about crystal meth</td>
		<td>"Widdershins" is an archaic term meaning <span class="special">counterclockwise</span></td>
		<td>"You Are Old, Father William" is a poem first appearing in <span class="special"><u>Through the Looking-Glass</u></span></td>
		<td><span class="special">Boston, Massachusetts</span> was home to the first active subway system in the United States</td>
		<td>In <i>Metal Gear Solid</i>, the fight against <span class="special">Vulcan Raven</span> occurs just outside of the Communications Tower</td>
		<td>Jason Todd is one of the former sidekicks of the superhero <span class="special">Green Arrow</span></td>
	</tr>
	<tr>
		<td>Stonewall Jackson was killed during the Battle of <span class="special">Chancellorsville</span></td>
		<td>The 2004 MIT Mystery Hunt was based on <span class="special">Time Bandits</span></td>
		<td>The Banzai Burger and the Whiskey River BBQ Burger are signature dishes at <span class="special">Applebee's</span></td>
		<td>The <span class="special">Calder Trophy</span> is given to the leading point scorer in the NHL each season</td>
		<td>The lowest temperature ever recorded on the Earth's surface was measured at <span class="special">Vostok Station, Antarctica</span></td>
		<td>NPR personality <span class="special">Peter Sagal</span> got his start hosting a Chicago-area show called <i>The Wild Room</i></td>
	</tr>
	<tr>
		<td><span class="special">Tasseomancy</span> is a method of divining the future by reading tea leaves</td>
		<td>After hitting a pair of snakes with his stick, Hera punished <span class="special">Tiresias</span> by turning him from man to woman</td>
		<td><span class="special">Han Solo</span> once bragged that he "used to bullseye womp rats in [his] T-16"</td>
		<td>In Act III of <i>Romeo and Juliet</i>, <span class="special">Tybalt</span> kills Mercutio</td>
		<td>Bob Barr ran for President in 2008 on the <span class="special">Reform Party</span> ticket</td>
		<td>Tallinn is the capital of and largest city in <span class="special">Lithuania</span></td>
	</tr>
</table>
{% endblock %}