{% extends "puzzles/puzzle_base.html" %}

{% block puzzle %}
<div class="categories_puzzle">
	<div class="categories">
		<table class="grid categories">
			<tr>
				<td colspan=4>A____</td>
			</tr>
			<tr>
				<td>AN</td>
				<td>ON</td>
				<td>M</td>
				<td>YE</td>
			</tr>
			<tr>
				<td>IR</td>
				<td>I</td>
				<td>A</td>
				<td>N</td>
			</tr>
			<tr>
				<td>HA</td>
				<td>TM</td>
				<td>E</td>
				<td>R</td>
			</tr>
			<tr>
				<td>TH</td>
				<td>WK</td>
				<td>O</td>
				<td>AN</td>
			</tr>
		</table>
	</div>
	<div class="categories">
		<table class="grid categories">
			<tr>
				<td colspan=4>B____ T____</td>
			</tr>
			<tr>
				<td>K</td>
				<td>NI</td>
				<td>D</td>
				<td>ER</td>
			</tr>
			<tr>
				<td>TH</td>
				<td>ST</td>
				<td>O</td>
				<td>C</td>
			</tr>
			<tr>
				<td>MA</td>
				<td>R</td>
				<td>GI</td>
				<td>NS</td>
			</tr>
			<tr>
				<td>PI</td>
				<td>UN</td>
				<td>CK</td>
				<td>S</td>
			</tr>
		</table>
	</div>
	<div class="categories">
		<table class="grid categories">
			<tr>
				<td colspan=4>C____</td>
			</tr>
			<tr>
				<td>P</td>
				<td>OR</td>
				<td>G</td>
				<td>CA</td>
			</tr>
			<tr>
				<td>M</td>
				<td>LA</td>
				<td>RI</td>
				<td>AN</td>
			</tr>
			<tr>
				<td>CR</td>
				<td>UN</td>
				<td>CH</td>
				<td>SH</td>
			</tr>
			<tr>
				<td>AM</td>
				<td>E</td>
				<td>NE</td>
				<td>T</td>
			</tr>
		</table>
	</div>
	<div class="categories">
		<table class="grid categories">
			<tr>
				<td colspan=4>C____ G____</td>
			</tr>
			<tr>
				<td>G</td>
				<td>OF</td>
				<td>DG</td>
				<td>ST</td>
			</tr>
			<tr>
				<td>PO</td>
				<td>I</td>
				<td>H</td>
				<td>SH</td>
			</tr>
			<tr>
				<td>BR</td>
				<td>KE</td>
				<td>I</td>
				<td>E</td>
			</tr>
			<tr>
				<td>EU</td>
				<td>C</td>
				<td>R</td>
				<td>RE</td>
			</tr>
		</table>
	</div>
	<div class="categories">
		<table class="grid categories">
			<tr>
				<td colspan=4>C____</td>
			</tr>
			<tr>
				<td>MA</td>
				<td>YON</td>
				<td>TAR</td>
				<td>ISE</td>
			</tr>
			<tr>
				<td>KE</td>
				<td>TC</td>
				<td>LI</td>
				<td>P</td>
			</tr>
			<tr>
				<td>M</td>
				<td>US</td>
				<td>NA</td>
				<td>D</td>
			</tr>
			<tr>
				<td>S</td>
				<td>RE</td>
				<td>HU</td>
				<td>SH</td>
			</tr>
		</table>
	</div>
	<div class="categories">
		<table class="grid categories">
			<tr>
				<td colspan=4>D____</td>
			</tr>
			<tr>
				<td>FO</td>
				<td>XT</td>
				<td>R</td>
				<td>Z</td>
			</tr>
			<tr>
				<td>EL</td>
				<td>A</td>
				<td>AN</td>
				<td>A</td>
			</tr>
			<tr>
				<td>W</td>
				<td>AC</td>
				<td>H</td>
				<td>GO</td>
			</tr>
			<tr>
				<td>CH</td>
				<td>T</td>
				<td>LT</td>
				<td>OT</td>
			</tr>
		</table>
	</div>
	<div class="categories">
		<table class="grid categories">
			<tr>
				<td colspan=4>D____</td>
			</tr>
			<tr>
				<td>TE</td>
				<td>OO</td>
				<td>IF</td>
				<td>GI</td>
			</tr>
			<tr>
				<td>M</td>
				<td>AST</td>
				<td>K</td>
				<td>ER</td>
			</tr>
			<tr>
				<td>C</td>
				<td>RR</td>
				<td>D</td>
				<td>LE</td>
			</tr>
			<tr>
				<td>P</td>
				<td>OR</td>
				<td>I</td>
				<td>F</td>
			</tr>
		</table>
	</div>
	<div class="categories">
		<table class="grid categories">
			<tr>
				<td colspan=4>F____</td>
			</tr>
			<tr>
				<td>W</td>
				<td>RO</td>
				<td>MO</td>
				<td>N</td>
			</tr>
			<tr>
				<td>T</td>
				<td>L</td>
				<td>O</td>
				<td>P</td>
			</tr>
			<tr>
				<td>HA</td>
				<td>DD</td>
				<td>U</td>
				<td>CK</td>
			</tr>
			<tr>
				<td>SA</td>
				<td>C</td>
				<td>AR</td>
				<td>T</td>
			</tr>
		</table>
	</div>
	<div class="categories">
		<table class="grid categories">
			<tr>
				<td colspan=4>G____ C____</td>
			</tr>
			<tr>
				<td>B</td>
				<td>IT</td>
				<td>GN</td>
				<td>CH</td>
			</tr>
			<tr>
				<td>HA</td>
				<td>LO</td>
				<td>ERL</td>
				<td>E</td>
			</tr>
			<tr>
				<td>M</td>
				<td>MB</td>
				<td>UR</td>
				<td>IN</td>
			</tr>
			<tr>
				<td>CO</td>
				<td>UN</td>
				<td>I</td>
				<td>G</td>
			</tr>
		</table>
	</div>
	<div class="categories">
		<table class="grid categories">
			<tr>
				<td colspan=4>H____</td>
			</tr>
			<tr>
				<td>F</td>
				<td>OW</td>
				<td>LE</td>
				<td>T</td>
			</tr>
			<tr>
				<td>POR</td>
				<td>K</td>
				<td>E</td>
				<td>R</td>
			</tr>
			<tr>
				<td>B</td>
				<td>R</td>
				<td>PI</td>
				<td>E</td>
			</tr>
			<tr>
				<td>BE</td>
				<td>AT</td>
				<td>E</td>
				<td>Z</td>
			</tr>
		</table>
	</div>
	<div class="categories">
		<table class="grid categories">
			<tr>
				<td colspan=4>H____</td>
			</tr>
			<tr>
				<td>YEL</td>
				<td>L</td>
				<td>HHA</td>
				<td>E</td>
			</tr>
			<tr>
				<td>BL</td>
				<td>OO</td>
				<td>EG</td>
				<td>M</td>
			</tr>
			<tr>
				<td>BL</td>
				<td>LO</td>
				<td>BIL</td>
				<td>D</td>
			</tr>
			<tr>
				<td>PH</td>
				<td>ACK</td>
				<td>WB</td>
				<td>ILE</td>
			</tr>
		</table>
	</div>
	<div class="categories">
		<table class="grid categories">
			<tr>
				<td colspan=4>M____ E____</td>
			</tr>
			<tr>
				<td>LA</td>
				<td>OM</td>
				<td>PA</td>
				<td>UY</td>
			</tr>
			<tr>
				<td>GO</td>
				<td>Y</td>
				<td>G</td>
				<td>EA</td>
			</tr>
			<tr>
				<td>K</td>
				<td>K</td>
				<td>B</td>
				<td>A</td>
			</tr>
			<tr>
				<td>SH</td>
				<td>OO</td>
				<td>IT</td>
				<td>U</td>
			</tr>
		</table>
	</div>
	<div class="categories">
		<table class="grid categories">
			<tr>
				<td colspan=4>N____</td>
			</tr>
			<tr>
				<td>P</td>
				<td>STA</td>
				<td>SH</td>
				<td>IO</td>
			</tr>
			<tr>
				<td>AL</td>
				<td>M</td>
				<td>CH</td>
				<td>D</td>
			</tr>
			<tr>
				<td>PI</td>
				<td>ECA</td>
				<td>ON</td>
				<td>N</td>
			</tr>
			<tr>
				<td>C</td>
				<td>A</td>
				<td>IRI</td>
				<td>EW</td>
			</tr>
		</table>
	</div>
	<div class="categories">
		<table class="grid categories">
			<tr>
				<td colspan=4>O____</td>
			</tr>
			<tr>
				<td>AT</td>
				<td>D</td>
				<td>IC</td>
				<td>C</td>
			</tr>
			<tr>
				<td>A</td>
				<td>LA</td>
				<td>I</td>
				<td>N</td>
			</tr>
			<tr>
				<td>IN</td>
				<td>RCT</td>
				<td>IA</td>
				<td>FIC</td>
			</tr>
			<tr>
				<td>PA</td>
				<td>C</td>
				<td>NTI</td>
				<td>ST</td>
			</tr>
		</table>
	</div>
	<div class="categories">
		<table class="grid categories">
			<tr>
				<td colspan=4>P____</td>
			</tr>
			<tr>
				<td>V</td>
				<td>ONE</td>
				<td>SS</td>
				<td>GH</td>
			</tr>
			<tr>
				<td>M</td>
				<td>HI</td>
				<td>O</td>
				<td>O</td>
			</tr>
			<tr>
				<td>PI</td>
				<td>ANG</td>
				<td>I</td>
				<td>T</td>
			</tr>
			<tr>
				<td>W</td>
				<td>CA</td>
				<td>ST</td>
				<td>LER</td>
			</tr>
		</table>
	</div>
	<div class="categories">
		<table class="grid categories">
			<tr>
				<td colspan=4>S____</td>
			</tr>
			<tr>
				<td>R</td>
				<td>LA</td>
				<td>AN</td>
				<td>ORE</td>
			</tr>
			<tr>
				<td>K</td>
				<td>AT</td>
				<td>B</td>
				<td>A</td>
			</tr>
			<tr>
				<td>NI</td>
				<td>SA</td>
				<td>YM</td>
				<td>ER</td>
			</tr>
			<tr>
				<td>C</td>
				<td>AP</td>
				<td>IE</td>
				<td>R</td>
			</tr>
		</table>
	</div>
</div>
{% endblock %}