{% extends "puzzles/puzzle_base.html" %}

{% block puzzle %}
<p>The unclued entry at 29-Across is the answer to this puzzle as well as a clue to how the five starred entries must be modified before being entered in the grid.  The modified entries are not necessarily real words and their enumerations have been withheld.</p>
<table class="grid cryptic">
	<tr>
		<td>1</td>
		<td>2</td>
		<td>3</td>
		<td class="bottom"></td>
		<td class="bottom"></td>
		<td class="right">4</td>
		<td class="left">5</td>
		<td>6</td>
		<td>7</td>
		<td>8</td>
		<td>9</td>
		<td class="bottom"></td>
	</tr>
	<tr>
		<td>10</td>
		<td></td>
		<td></td>
		<td class="top bottom right"></td>
		<td class="top left">11</td>
		<td></td>
		<td></td>
		<td class="right"></td>
		<td class="left">12</td>
		<td></td>
		<td class="right"></td>
		<td class="left top">13</td>
	</tr>
	<tr>
		<td>14</td>
		<td class="bottom"></td>
		<td class="right"></td>
		<td class="top left">15</td>
		<td></td>
		<td class="right"></td>
		<td class="left bottom">16</td>
		<td class="bottom"></td>
		<td class="right"></td>
		<td class="left"></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>18</td>
		<td class="top">19</td>
		<td class="bottom"></td>
		<td></td>
		<td class="bottom"></td>
		<td class="bottom"></td>
		<td class="top right">20</td>
		<td class="top left">21</td>
		<td></td>
		<td></td>
		<td class="bottom"></td>
		<td class="bottom"></td>
	</tr>
	<tr>
		<td>22</td>
		<td></td>
		<td class="top right">23</td>
		<td class="left right"></td>
		<td class="top left right">24</td>
		<td class="top left right">25</td>
		<td class="left right"></td>
		<td class="left">26</td>
		<td class="bottom"></td>
		<td class="bottom"></td>
		<td class="top">27</td>
		<td class="top">28</td>
	</tr>
	<tr>
		<td class="bottom right"></td>
		<td class="left">29</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td class="top">30</td>
		<td class="top bottom"></td>
		<td class="right"></td>
		<td class="left"></td>
	</tr>
	<tr>
		<td class="top">31</td>
		<td class="bottom"></td>
		<td></td>
		<td class="bottom"></td>
		<td></td>
		<td class="bottom right"></td>
		<td class="left right"></td>
		<td class="left">32</td>
		<td></td>
		<td class="top">33</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td class="right"></td>
		<td class="top left">34</td>
		<td></td>
		<td class="top">35</td>
		<td></td>
		<td class="top">36</td>
		<td></td>
		<td></td>
		<td class="right"></td>
		<td class="left">37</td>
		<td></td>
		<td class="bottom"></td>
	</tr>
	<tr>
		<td>38</td>
		<td></td>
		<td></td>
		<td></td>
		<td class="bottom right"></td>
		<td class="left right"></td>
		<td class="left">39</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td class="top left">40</td>
	</tr>
	<tr>
		<td>41</td>
		<td></td>
		<td class="bottom"></td>
		<td></td>
		<td class="top right bottom"></td>
		<td class="left">42</td>
		<td class="bottom"></td>
		<td></td>
		<td></td>
		<td class="bottom"></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>43</td>
		<td></td>
		<td class="top"></td>
		<td class="right"></td>
		<td class="top left">44</td>
		<td></td>
		<td class="top"></td>
		<td class="right"></td>
		<td class="left">45</td>
		<td class="top"></td>
		<td></td>
		<td></td>
	</tr>
</table>
<table class="cryptic_clues">
	<tr>
		<th>ACROSS</th>
		<th>DOWN</th>
	</tr>
	<tr>
		<td>
			<ol>
				<li value=1>Crazy bosses lose sleep over something (6)</li>
				<li value=5>Snuggle up with chocolate (6)</li>
				<li value=10>BFG creator is a peach, reportedly (4)</li>
				<li value=11>Nothing hurt Arab man (4)</li>
				<li value=12>Minor league head of accounting for Lava... (3)</li>
				<li value=14>...starts to entertain challenging our logical leader? (3)</li>
				<li value=15>Add energy to iron slice (3)</li>
				<li value=16>*Disney villain rambled loudly</li>
				<li value=17>Odd Prince image (3)</li>
				<li value=18>Actor Harry Wilder?  He's rare (7) </li>
				<li value=21>Cry for rose around hospital (5)</li>
				<li value=22>Without trace of loyalty, attack brewer Adams (3)</li>
				<li value=26>Cutting top of radish in pot (5)</li>
				<li value=29>See instructions</li>
				<li value=31>Patio diner offers disinfectant (6)</li>
				<li value=32>Sacred animal child skinned fish (5)</li>
				<li value=34>By the sound of it, WASP searched for the editor, who was drunk (8)</li>
				<li value=37>Some beginner is cut and trimmed? (3)</li>
				<li value=38>Stories new to actress Sophia (5)</li>
				<li value=39>Letter from Greece for District Attorney Morgenstern (5)</li>
				<li value=41>The possessor of unending yet confused renown (5)</li>
				<li value=42>*A prize from way back in elementary school, the first of dozens </li>
				<li value=43>Peasants are concealing tyrant (4)</li>
				<li value=44>Manhandle Prefect’s friend (4)</li>
				<li value=45>Troubled dune buff (4)</li>
			</ol>
		</td>
		<td>
			<ol>
				<li value=1>The Urkanian port deserved an audience?  That's ass-backwards (6)</li>
				<li value=2>*Chewbacca rates hides, game</li>
				<li value=3>Coastline with no right pump, e.g. (4)</li>
				<li value=4>I am in the south-east with Hook's helper (4)</li>
				<li value=5>Annoy a horse (3)</li>
				<li value=6>Baseball stat of its time (3)</li>
				<li value=7>First daughter ruined a sash (5)</li>
				<li value=8>Trap I set for South American animal (5)</li>
				<li value=9>*A rotten egg replaced alien snot?</li>
				<li value=11>To Wordsworth, above headless Dutch colonial (3)</li>
				<li value=13>Type of card that isn’t topped! (3)</li>
				<li value=15>Language from far site (5)</li>
				<li value=19>Rev. Spooner set down the gardening tool by the video game (4)</li>
				<li value=20>After retreating, heartless never attempt to return (7)</li>
				<li value=21>The hero playing with heat (5,3)</li>
				<li value=23>Up-to-date method followed by nurse (6)</li>
				<li value=24>Element ten upset nothing (5)</li>
				<li value=25>A sheep sounds gross (3)</li>
				<li value=27>Lure aliens to the top agent (7)</li>
				<li value=28>Approach the withdrawn, mopey husband first (4)</li>
				<li value=30>Hermes will have to be defeated (2,4)</li>
				<li value=31>*A place for possessed items with land behind and secure, not-all-there demon in front </li>
				<li value=33>Small amount of a magician's word (2-2)</li>
				<li value=34>Bends toward ribbons (4)</li>
				<li value=35>Sharp, with no happy medium (4)</li>
				<li value=36>Period shed overturned (4)</li>
				<li value=40>Salute to headless bulge (3)</li>
			</ol>
		</td>
	</tr>
</table>
<a href="https://drive.google.com/file/d/0B_9TmamD1-vZeW8xcGdjem1vdFE/view?usp=sharing">PDF</a>
{% endblock %}