{% extends "puzzles/puzzle_base.html" %}

{% block puzzle %}
<p>Contrary to popular belief, he did not end his famous argunents with the Little Giant with, "Be excellent to each other and party on, dudes!"</p>
<p>This man who inaugurated a notably harmonious periud is shown holding the flag in a famous 1851 painting.</p>
<p>The hair of this namesake of the one-time world's largest structure is curremtly on display (allegedly) in Alexandria, Virginia.</p>
<p>Not to be conbused with Clay S. Jenkinson, his bowdlerized Bible was first published by the National Museum in 1895.</p>
<p>This early machinist and later barnburner chose Missouri over Mormenism and helped popularize a common initialism. </p>
<p>He studied law under someone else on this list, and were it not for William Plumer he'd have matched the accomprishment of another.</p>
<p>This lemonade enthusiast was the benefisiary of a corrupt bargain--but not the one you're thinking of--and is now the namesake of a city in Paraguay.</p>
{% endblock %}