<!DOCTYPE html>
<html lange="en">
<head>
	<title>{% block title %}Puzzle name{% endblock %}</title>
	<!-- Stylesheet link here -->
</head>
<body>
	<div id="header"><a href="/logout">Log out</a></div>
	<div id="puzzle">
		{% block puzzle %}
		Puzzle goes here.
		{% endblock puzzle %}
	</div>
	<div id="answer_check">
		<form action="/puzzles/check" method="post">
			{% csrf_token %}
			<input type="hidden" name="id" value="{{ puzz_id }}">
			<input type="text" name="attempt"><input type="submit" value="Submit">
		</form>
		{% if messages %}
			{% for message in messages %} {{ message }} {% endfor %}
		{% endif %}
		{% if answers %}
			<h3>Answer log</h3>
			<ul>
				{% for answer in answers %}
					{% if answer.correct == True %}
						<li><b>{{ answer.answer }}</b> is correct!</li>
					{% else %}
						<li>{{answer.answer}} is not correct.
					{% endif %}
				{% endfor %}
			</ul>
		{% endif %}

	</div>
	<div id="back"><a href="/puzzles">Back</a></div>
</body>
</html>