<!DOCTYPE html>
<html lange="en">
<head>
	<title>{{ name }}</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'puzzles/style.css' %}">
</head>
<body>
	<div id="header"><a href="/logout">Log out</a></div>
	{% if messages %}
		{% for message in messages %} <h3>{{ message }}</h3> {% endfor %}
	{% endif %}
	<h1 class="title">{{ name }}</h1>
	<div id="puzzle">
		{% block puzzle %}
		Puzzle goes here.
		{% endblock puzzle %}
	</div>
	<div id="answer_check">
		{% if unsolved %}
		<form action="/puzzles/check" method="post">
			{% csrf_token %}
			<input type="hidden" name="id" value="{{ puzz_id }}">
			<input type="text" name="attempt"><input type="submit" value="Submit">
		</form>
		{% endif %}
		
		{% if answers %}
			<h3>Answer log</h3>
			<ul>
				{% for answer in answers %}
					{% if answer.correct == True %}
						<li><b>{{ answer.answer }}</b> is correct!</li>
					{% else %}
						<li>{{answer.answer}} is not correct.
					{% endif %}
				{% endfor %}
			</ul>
		{% endif %}

	</div>
	<div id="back"><a href="/puzzles">Back</a></div>
</body>
</html>