{% extends "puzzles/puzzle_base.html" %}

{% block puzzle %}
<p>Rearrange the twelve pentominoes to form the clue words.  (The pieces may need to be reoriented so that the text no longer faces up.)</p>
<ul>
	<li>Part of the stamen</li>
	<li>Fire</li>
	<li>Shade of blue</li>
	<li>Type of cult or pants</li>
	<li>Revolutionary name</li>
	<li>Doctrine</li>
	<li>Everlasting</li>
	<li>Rattle or vex</li>
	<li>Like the important tiles in this puzzle</li>
	<li>One was the subject of the Oscar-winning documentary <i>Common Threads</i></li>
	<li>Heading downhill, perhaps</li>
	<li>Blow off some steam</li>
</ul>
<div class="tiling">
	<table class="grid tiling">
		<tr>
			<td>A</td>
			<td class="outer"></td>
			<td>R</td>
		</tr>
		<tr>
			<td>L</td>
			<td>T</td>
			<td>E</td>
		</tr>
	</table>
</div>
<div class="tiling">
	<table class="grid tiling">
		<tr>
			<td>C</td>
			<td>A</td>
		</tr>
		<tr>
			<td>S</td>
			<td>K</td>
		</tr>
		<tr>
			<td>A</td>
			<td class="outer"></td>
		</tr>
	</table>
</div>
<div class="tiling">
	<table class="grid tiling">
		<tr>
			<td class="outer"></td>
			<td class="outer"></td>
			<td>C</td>
		</tr>
		<tr>
			<td class="outer"></td>
			<td class="outer"></td>
			<td>D</td>
		</tr>
		<tr>
			<td>N</td>
			<td>C</td>
			<td>E</td>
		</tr>
	</table>
</div>
<div class="tiling">
	<table class="grid tiling">
		<tr>
			<td class="outer"></td>
			<td class="outer"></td>
			<td>H</td>
			<td>E</td>
		</tr>
		<tr>
			<td>R</td>
			<td>E</td>
			<td>D</td>
			<td class="outer"></td>
		</tr>
	</table>
</div>
<div class="tiling">
	<table class="grid tiling">
		<tr>
			<td>I</td>
			<td>I</td>
			<td>N</td>
		</tr>
		<tr>
			<td class="outer"></td>
			<td>E</td>
			<td class="outer"></td>
		</tr>
		<tr>
			<td class="outer"></td>
			<td>E</td>
			<td class="outer"></td>
		</tr>
	</table>
</div>
<div class="tiling">
	<table class="grid tiling">
		<tr>
			<td>P</td>
			<td>I</td>
			<td>L</td>
			<td>F</td>
		</tr>
		<tr>
			<td class="outer"></td>
			<td class="outer"></td>
			<td>U</td>
			<td class="outer"></td>
		</tr>
	</table>
</div>
<div class="tiling">
	<table class="grid tiling">
		<tr>
			<td class="outer"></td>
			<td class="outer"></td>
			<td>Q</td>
		</tr>
		<tr>
			<td class="outer"></td>
			<td>A</td>
			<td>F</td>
		</tr>
		<tr>
			<td>E</td>
			<td>X</td>
			<td class="outer"></td>
		</tr>
	</table>
</div>
<div class="tiling">
	<table class="grid tiling">
		<tr>
			<td class="outer"></td>
			<td>R</td>
			<td class="outer"></td>
		</tr>
		<tr>
			<td class="outer"></td>
			<td>E</td>
			<td>G</td>
		</tr>
		<tr>
			<td>A</td>
			<td>T</td>
			<td class="outer"></td>
		</tr>
	</table>
</div>
<div class="tiling">
	<table class="grid tiling">
		<tr>
			<td class="outer"></td>
			<td>T</td>
		</tr>
		<tr>
			<td class="outer"></td>
			<td>H</td>
		</tr>
		<tr>
			<td class="outer"></td>
			<td>E</td>
		</tr>
		<tr>
			<td>O</td>
			<td>R</td>
		</tr>
	</table>
</div>
<div class="tiling">
	<table class="grid tiling">
		<tr>
			<td class="outer"></td>
			<td>T</td>
			<td>P</td>
		</tr>
		<tr>
			<td class="outer"></td>
			<td>L</td>
			<td class="outer"></td>
		</tr>
		<tr>
			<td>Z</td>
			<td>I</td>
			<td class="outer"></td>
		</tr>
	</table>
</div>
<div class="tiling">
	<table class="grid tiling">
		<tr>
			<td class="outer"></td>
			<td>U</td>
			<td class="outer"></td>
		</tr>
		<tr>
			<td>V</td>
			<td>E</td>
			<td>N</td>
		</tr>
		<tr>
			<td class="outer"></td>
			<td>N</td>
			<td class="outer"></td>
		</tr>
	</table>
</div>
<div class="tiling">
	<table class="grid tiling">
		<tr><td>Z</td></tr>
		<tr><td>A</td></tr>
		<tr><td>O</td></tr>
		<tr><td>G</td></tr>
		<tr><td>R</td></tr>
	</table>
</div>
{% endblock %}