{% extends "puzzles/puzzle_base.html" %}

{% block puzzle %}
<span class="flavor_text">All the labels have come off of your movie collection.  Even after you've replaced them all, you find there's still one missing...</span>
<p>_____ and _____ &nbsp; _____ the _____</p>
<p>_____ &nbsp; _____ &nbsp; _____ &nbsp; V: The _____ &nbsp; _____ &nbsp; _____ </p>
<p>A _____ on _____ &nbsp; _____ 3: _____ &nbsp; _____ </p>
<p>_____ &nbsp; _____VI: The _____ &nbsp; _____ </p>
<p>_____ &nbsp; of the _____ &nbsp; : The _____ &nbsp; of the _____ &nbsp; _____ &nbsp; </p>
<p>_____ &nbsp; _____ &nbsp; _____ &nbsp; _____: The _____ of _____</p>
<p>_____ &nbsp; and _____: The _____ &nbsp; _____ &nbsp; of the _____ &nbsp; </p>
<p>_____: The _____ of _____ &nbsp; _____</p>
<p>The _____ &nbsp; _____ 2: _____   _____ </p>
<p>_____: &nbsp; _____ &nbsp; _____ &nbsp; of _____ &nbsp; for _____ &nbsp; _____ &nbsp; _____ &nbsp; _____ &nbsp; of  _____ &nbsp; </p>
<p>_____ &nbsp; _____ and the _____ of the _____</p>
<p>_____ &nbsp; _____: _____ of _____</p>
<p>The _____ with the _____ &nbsp; _____</p>
<p>_____ at the _____: _____ of the _____ </p>
<p>_____ &nbsp; _____: _____ of _____ &nbsp; _____ &nbsp; _____</p>
<p>_____ &nbsp; _____ & the _____: The _____ &nbsp; _____</p>
<p>The _____ of _____: The _____ of the _____ &nbsp; _____</p>
<p>_____ &nbsp; _____: _____ &nbsp; _____, _____ &nbsp; _____</p>
<p>The _____ &nbsp; _____: &nbsp; _____ &nbsp; _____ &nbsp; – _____ &nbsp; 2</p>
<p>The _____ &nbsp; _____: &nbsp; _____ &nbsp; of _____ &nbsp; </p>
<p> _____ &nbsp;  _____: &nbsp; The _____ &nbsp; _____ &nbsp; </p>

ABBOTT 
AMERICA
ANCHORMAN 
BACK
BAD 
BATTLE 
BENEFIT
BIG 
BLACK
BONES
BOOK 
BORAT
BREAKING
BURGUNDY 
CALL 
CARIBBEAN
CHRONICLES 
CITY
COMMANDER
COSTELLO 
COUNTRY
CRADLE 
CROFT 
CULTURAL
CURSE
DAWN
DAWN 
DIARIES 
DREAM 
ELM 
EMPIRE 
ENGAGEMENT 
EPISODE 
FAR
FATHER 
GIRL 
GLORIOUS
HARRY 
INSTRUMENTS
JACKSON 
KAZAKHSTAN
LARA 
LEARNINGS
LEGEND 
LIEUTENANT 
LIFE 
LIGHTNING 
LIKE 
LIKE 
MAKE
MASTER
MAZE
MEET 
MOMMAS 
MORTAL
MUSEUM 
NARNIA 
NATION
NATIONAL 
NEW 
NIGHT 
NIGHTMARE 
OLYMPIANS 
ORDER 
ORLEANS
PART
PEARL
PERCY 
PHOENIX 
PIRATES
PORT 
POTTER 
PRINCESS 
RAIDER 
RON 
ROYAL 
RUNNER
SAGA
SCORCH
SECRETS 
SIDE
SMITHSONIAN 
SON 
STAR 
STAR 
STREET 
STRIKES 
TATTOO 
THIEF 
TREADER 
TREASURE 
TREK 
TRIALS
TWILIGHT
UNDISCOVERED 
VOYAGE 
WARRIORS 
WARS 
WORLD

{% endblock %}