{% extends "puzzles/puzzle_base.html" %}

{% block puzzle %}
<ul>
	<li>Best Picture winner written by Paddy Chayefsky</li>
	<li><u>Fear of Flying</u> author Jong</li>
	<li>Intimidated</li>
	<li>Its capital is Santiago</li>
	<li>Jim Bowie died here</li>
	<li>Music genre</li>
	<li>Saying</li>
	<li>Small section</li>
	<li>Swelling once known as dropsy</li>
	<li>___ the line (obeyed)</li>
	<li>Villainous Durden of <i>Fight Club</i></li>
	<li>"You ___, in a little toy shop..."</li>
</ul>
{% endblock %}