{% extends "puzzles/puzzle_base.html" %}

{% block title %}When In Rome{% endblock %}

{% block puzzle %}
<h1 class="title">== When In Rome ==</h1>
<span class="flavor_text">In a peaceful moment, you settle in to a caf&eacute;.  You can overhear fragments of conversation, but it's all gibberish to you...</span>
<ul>
	<li>Listen, I invited you to this cathedral in good faith.</li>
	<li>Antonioni is just one out of many directors that I admire.</li>
	<li>Tell me, what is the source and origin of the Tiber river?</li>
	<li>Is this painting the work of Leonardo or, perhaps, the work of God?</li>
	<li>Nicola is a rare bird collector—which is to say, he collects rare birds, not he's rare himself.</li>
	<li>You will soon behold the man who epitomizes the Ubermensch!</li>
	<li>There's nothing to worry about; Sicily is hardly an unknown land.</li>
	<li>If you're going to wear that miniskirt, you should have the body for it.</li>
	<li>The movie star, and the rest, are here on Giacomo's isle!</li>
	<li>As the carpenter with bad grammar said, "I came, I saw, I conquered."</li>
	<li>Despite his past behavior, Berlusconi won't be able to ignore the voice of the people for much longer.</li>
	<li>The publication of a paper on the photoelectric effect marked the start of Einstein's wonderful year.</li>
	<li>In the stiffness of death, Sophia may finally find peace.</li>
</ul>
{% endblock %}